In [2]:
%store -r labeled_df
labeled_df.head()

      x     x2    x3   y    y2  label
3  1063   9126  3169  46  1092      1
4  1001   9002  2983  44  1088      1
6   785   8570  2335  21  1042      0
7   709   8418  2107  27  1054      0
8  1885  10770  5635  46  1092      1

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(labeled_df.astype(float))
normalized_df = pd.DataFrame(scaled_values)
normalized_df.columns = labeled_df.columns
normalized_df.index = labeled_df.index

display(normalized_df.head())

          x        x2        x3         y        y2  label
3  0.371371  0.371371  0.371371  0.896552  0.896552    1.0
4  0.329507  0.329507  0.329507  0.827586  0.827586    1.0
6  0.183660  0.183660  0.183660  0.034483  0.034483    0.0
7  0.132343  0.132343  0.132343  0.241379  0.241379    0.0
8  0.926401  0.926401  0.926401  0.896552  0.896552    1.0

In [5]:
normalized_df.shape

(42, 6)

In [6]:
from sklearn.model_selection import train_test_split

y = normalized_df["label"].values
X = normalized_df[["x", "x2", "x3", "y", "y2"]].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
train_np = X_train
label_np = y_train

In [15]:
import io
from sagemaker.amazon.common import write_numpy_to_dense_tensor

buf = io.BytesIO()
write_numpy_to_dense_tensor(buf, train_np, label_np)
buf.seek(0)

0

In [17]:
!mkdir -p tmp

In [19]:
def save_bytesio(filename, buf):
    with open("tmp/" + filename, "wb") as file:
        file.write(buf.getbuffer())
        print(f"Successfully saved {filename}")

In [20]:
save_bytesio("train.io", buf)

Successfully saved train.io

In [21]:
%store buf

Stored 'buf' (BytesIO)

In [22]:
%store X_train
%store X_test
%store y_train
%store y_test

Stored 'X_train' (ndarray)
Stored 'X_test' (ndarray)
Stored 'y_train' (ndarray)
Stored 'y_test' (ndarray)